<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  
  <!-- 
  <servlet>
  <servlet-name>addNumbers</servlet-name>
  <servlet-class>com.kharoud.AddServlet</servlet-class>
  
  <init-param>
  <param-name>name</param-name>
  <param-value>IndiviuallyServlet</param-value>
  </init-param>
  
  </servlet>
  
  <servlet-mapping>
  <servlet-name>addNumbers</servlet-name>
  <url-pattern>/add</url-pattern>
  </servlet-mapping>
  
   <servlet>
  <servlet-name>square</servlet-name>
  <servlet-class>com.kharoud.SqServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>square</servlet-name>
  <url-pattern>/sq</url-pattern>
  </servlet-mapping>
  

  <context-param>
<param-name>name1</param-name>
<param-value>Davinder Singh</param-value>
  </context-param>
  
  <context-param>
<param-name>Phone</param-name>
<param-value>Iphone</param-value>
  </context-param> -->
  
</web-app>